<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nineya.springboot.mapper.SimResultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nineya.springboot.entity.SimResult">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="seed_id" property="seedId" />
        <result column="author" property="author" />
        <result column="create_date" property="createDate" />
        <result column="task_status" property="taskStatus" />
        <result column="task_desc" property="taskDesc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, seed_id, author, create_date, task_status, task_desc
    </sql>

</mapper>
